<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MusicMosaic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a th:href="@{/mosaic}">There will be settings here later, for now just click here to get your personal Music mosaic!</a>
</body>
</html>